.box{
    width: 200px;
    height: 200px;
    margin-bottom: 8px;
}

/*main{
    margin-top:100px;
    position: relative;
}*/

.box1{
    background-color: rgb(184, 90, 173);
    position: absolute; /*relative, absolute*/
    top: 5px;
    left: 5px;
    z-index: 4;
}

.box2{
    background-color: rgb(94, 192, 154);
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.box3{
    background-color: rgb(139, 66, 217);
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
}