* {
    margin: 0;
}

/* header {
    height: 100px;
    border: 7px dashed rgb(153, 97, 174);
    padding: 16px;
} */

main {
    color: white;
    padding: 8px;

    background-color: rgb(71, 171, 159);
    background-image: url(https://th.bing.com/th/id/R.79309b751fc01736ea1cc3d786b25651?rik=rurHNX620eLm%2fA&pid=ImgRaw&r=0);
    background-repeat:no-repeat;
    background-size:15%;
    background-position: right top;
    background-origin: border-box;
    background-clip: border-box;
    background-attachment: fixed; /*Background parado*/
    background: linear-gradient( 250deg, rgb(71, 171, 159),rgb(131, 105, 166));

    background: linear-gradient(rgba(255,255,255,0), rgba(255,0,0,0.2)),url(https://th.bing.com/th/id/R.79309b751fc01736ea1cc3d786b25651?rik=rurHNX620eLm%2fA&pid=ImgRaw&r=0) no-repeat right top/ 50px border-box content-box fixed;
}


/* Para que sua imagem não seja cortada coloque no origin e clip o mesmo
comando para que ele se ajuste. */

/* background-position: right center; horizontal e vertical, respectivamente */

/* background-clip: border-box; Pega a cor e a imagem*/