<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head'); %> <!--Link no formato ejs-->

    <body class="container p-5">

        <%- include('../partials/header', {pagina:'About'}); %>

        <main>
            <div class="container-fluid bg-dark text-white p-5">
                <h1>About me</h1>
                <p style="color:lightgreen">Oi sou Samara Silvia estudante de programação frontend</p>
            </div>
        </main>

        <%- include('../partials/footer'); %>
        
    </body>
</html>

<!--rgb(231, 88, 231)-->